/* Global Rules */

@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);
html {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-smoothing: antialiased;
}

.container {
	max-width: 970px;
}

.navbar {
	margin-bottom: -20px;
}

h1 {
	font-family: Helvetica Neue, Arial;
	color: #444;
	font-weight: 700;
}

p {
	color: #666;
	line-height: 23px;
	margin-bottom: 15px;
}

.small-heading {
	letter-spacing: .15em;
	color: #bec8ce;
	text-transform: uppercase;
	font-weight: 500;
	line-height: 1.2;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}

.text-justify {
	text-align: justify;
}

.text-nowrap {
	white-space: nowrap;
}

.text-lowercase {
	text-transform: lowercase;
}

.text-uppercase {
	text-transform: uppercase;
}

.text-capitalize {
	text-transform: capitalize;
}

.text-muted {
	color: #aaaaaa;
}

.btn-custom {
	background-color: #FF4F00;
	color: white;
}

.btn-custom:hover {
	background-color: #BA160C;
	color: white;
}

.navbar.normal {
	min-height: 70px;
	background: #223741;
	border-radius: 0px;
	box-shadow: 0px 1px 3px 1px rgba(46, 46, 46, 0.3), inset rgba(255, 255, 255, 0.2) 0 1px 1px;
	border: none;
	z-index: 9999;
	-webkit-font-smoothing: antialiased;
}

.navbar.normal .navbar-header .navbar-brand {
	color: #fff;
	padding: 25px 15px;
	font-weight: 500;
	font-size: 23px;
}

.navbar.normal .navbar-header .navbar-toggle {
	margin-top: 17px;
}

@media (min-width: 768px) {
	.navbar.normal .navbar-collapse {
		text-align: center;
	}
}

@media (min-width: 768px) {
	.navbar.normal .navbar-collapse .navbar-nav {
		float: none;
		display: inline-block;
	}
}

@media (min-width: 768px) {
	.navbar-fixed-bottom {
		margin-top: 300px;
	}
}

.navbar.normal .navbar-collapse .navbar-nav > li {
	float: none;
	display: inline-block;
}

@media (max-width: 767px) {
	.navbar.normal .navbar-collapse .navbar-nav > li {
		display: block;
	}
}

.navbar.normal .navbar-collapse .navbar-nav > li.active > a {
	background: none;
	color: #fff;
}

.navbar.normal .navbar-collapse .navbar-nav > li > a {
	padding: 25px 20px;
	color: #d5d5d5;
	font-weight: 500;
	z-index: 1001;
}

.navbar.normal .navbar-collapse .navbar-nav > li > a:hover {
	color: white;
}

.footer {
	color: #d5d5d5;
	height: 60px;
	background: #223741;
	padding: 20px;
	text-decoration: none;
}

.footer a {
	color: #d5d5d5;
}
/* Home Page */

.lead-section {
	padding: 200px 0 200px 0;
	color: black;
	background: url(https://grist.files.wordpress.com/2014/06/power-plant-shutterstock-crop.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.feature-section {
	padding: 100px 0 100px 0;
}

.feature-section h4 {
	text-align: center;
}

.feature-section img {
	max-height: 140px;
	margin-bottom: 20px;
	display: block;
	margin: auto;
}

.feature-section h3 {
	margin-top: 0;
}

.feature-headline {
	margin-bottom: 40px;
}

.solution {
	padding-top: 30px;
}

.customer-section {
	background: #F9FAFA;
	padding: 20px;
}

.case-section {
	padding: 100px 0 100px 0;
}

.case-description {
	padding-top: 60px;
}

.case-description h2 {
	margin-top: 0;
}

.news-section {
	padding: 50px 0 50px 0;
}

.contact-section {
	padding: 100px 0 100px 0;
}

.customer-logo {
	text-align: center;
	display: inline-block;
	padding-left: 0;
}

.customer-logo img {
	display: inline-block;
	max-width: 100%;
	max-height: 45px;
	vertical-align: middle;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	padding: 0 17px 0 17px;
	margin-bottom: 15px;
}

.customer-logo li {
	display: inline-block;
	margin-right: -.25em;
	position: relative;
	top: 1.25em;
}

.contact-image {
	padding: 50px 20px 50px 20px;
}

.contact-header {
	padding: 20px 0 10px 0;
}

.contact-locations {
	margin-top: 60px;
	padding: 20px 0 10px 0;
}

.tagup-logo {
	height: 33px;
	margin-top: -6px
}

.news-section {
	background: #F9FAFA;
}
/* About Page Styles */

.about-intro {
	padding: 100px 0 0 0;
}

.intro-header {
	font-size: 24px;
	font-family: Myriad Pro, Lato, Helvetica Neue, Arial;
	color: #444;
	line-height: 25px;
	font-weight: 500;
	margin-bottom: 25px;
}

.teamphotos {
	margin-top: 10px;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}

.executive-team {
	padding: 50px;
}

.advisory-board {
	padding: 25px 0 130px 0;
}
/* Solution Page Styles */

.solution-intro {
	padding: 100px 0 0 0;
}

#solution #tabs .header {
	text-align: center;
}

#solution #tabs .header h3 {
	font-size: 22px;
	color: #444;
	line-height: 25px;
	font-weight: 500;
	margin-bottom: 7px;
}

#solution #tabs .header p {
	font-size: 16px;
	font-weight: 400;
	color: #888;
}

#solution #tabs .tabs-wrapper {
	margin-top: 45px;
}

#solution #tabs .tabs-wrapper .nav-tabs {
	text-align: center;
	border-bottom: 2px solid #EDEDED;
}

@media (max-width: 991px) {
	#solution #tabs .tabs-wrapper .nav-tabs {
		display: none;
	}
}

#solution #tabs .tabs-wrapper .nav-tabs li {
	float: none;
	display: inline-block;
}

#solution #tabs .tabs-wrapper .nav-tabs li.active a {
	color: #2B69A2;
	font-weight: 400;
	border-bottom: 0px;
}

#solution #tabs .tabs-wrapper .nav-tabs li.active a:after {
	content: '';
	position: absolute;
	width: 100%;
	height: auto;
	border-bottom: 2px solid #7BA3C9;
	left: 1px;
	bottom: -1px;
}

#solution #tabs .tabs-wrapper .nav-tabs li a {
	color: #888;
	font-weight: 400;
	border: 0px;
	padding: 10px 20px;
	font-size: 15px;
	-webkit-transition: color 0.25s linear;
	-moz-transition: color 0.25s linear;
	-ms-transition: color 0.25s linear;
	-o-transition: color 0.25s linear;
	transition: color 0.25s linear;
}

#solution #tabs .tabs-wrapper .nav-tabs li a:hover {
	color: #2B69A2;
	background: none;
}

#solution #tabs .tabs-wrapper .tab-content {
	margin-top: 60px;
}

#solution #tabs .tabs-wrapper .tab-content .tab-pane {
	height: 325px;
}

@media (max-width: 991px) {
	#solution #tabs .tabs-wrapper .tab-content .tab-pane {
		display: block !important;
		opacity: 1;
		filter: alpha(opacity=100);
		height: auto;
		text-align: center;
		margin-bottom: 70px;
	}
}

@media (max-width: 991px) {
	#solution #tabs .tabs-wrapper .tab-content .tab-pane .info {
		margin-bottom: 35px;
	}
}

#solution #tabs .tabs-wrapper .tab-content .tab-pane .info h4 {
	color: #3B88B6;
	font-weight: normal;
	font-size: 19px;
	line-height: 25px;
	margin-top: 35px;
}

#solution #tabs .tabs-wrapper .tab-content .tab-pane .info p {
	color: #6C7279;
	font-size: 15px;
	margin-top: 20px;
	line-height: 24px;
	width: 83%;
	font-weight: normal;
}

@media (max-width: 991px) {
	#solution #tabs .tabs-wrapper .tab-content .tab-pane .info p {
		margin: 0 auto;
		width: 95%;
	}
}

#solution #tabs .tabs-wrapper .tab-content .tab-pane .image img {
	display: inline-block;
	margin: 0 auto;
}

#solution .snippets {
	/* mixin found in partials/snippets */
	
	margin-top: 100px;
}

@media (max-width: 991px) {
	#solution .snippets {
		margin-top: 50px;
	}
}

#solution .snippets .header {
	text-align: center;
}

#solution .snippets .header h2 {
	color: #555;
	font-weight: 300;
	font-size: 28px;
}

@media (max-width: 767px) {
	#solution .snippets .header h2 {
		font-size: 25px;
	}
}

#solution .snippets .header p {
	font-weight: 300;
	font-size: 17px;
	color: #757575;
}

#solution .snippets .feature {
	margin-top: 55px;
}

#solution .snippets .feature img {
	max-height: 250px;
	display: block;
	margin: auto;
}

@media (min-width: 992px) {
	#solution .snippets .feature.backwards .info {
		float: right;
	}
	#solution .snippets .feature.backwards .image {
		float: left;
	}
	#solution .snippets .feature.backwards .image img {
		display: block;
		margin: auto;
	}
}

@media (max-width: 991px) {
	#solution .snippets .feature {
		margin-top: 10px;
	}
}

#solution .snippets .feature .info h4 {
	color: #3B88B6;
	font-weight: normal;
	font-size: 19px;
	line-height: 25px;
	margin-top: 35px;
}

@media (max-width: 991px) {
	#solution .snippets .feature .info h4 {
		text-align: center;
	}
}

#solution .snippets .feature .info p {
	color: #6C7279;
	font-size: 14px;
	margin-top: 20px;
	line-height: 24px;
	width: 83%;
	font-weight: normal;
}

@media (max-width: 991px) {
	#solution .snippets .feature .info p {
		text-align: center;
		width: 100%;
		font-size: 14px;
	}
}

@media (max-width: 991px) {
	#solution .snippets .feature .image img {
		margin: 0 auto !important;
		margin-top: 20px;
	}
}

#solution .snippets .divider {
	height: 1px;
	width: 100%;
	background-color: #ddd;
	position: relative;
	margin: 70px 0 60px;
}

#solution .snippets .divider:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 2px;
	background-image: -webkit-gradient(linear, left top, right top, color-stop(0, rgba(255, 255, 255, 0.75)), color-stop(0.5, rgba(250, 250, 250, 0)), color-stop(1, rgba(255, 255, 255, 0.75)));
	background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.75) 0%, rgba(250, 250, 250, 0) 50%, rgba(255, 255, 255, 0.75) 100%);
	background-image: -moz-linear-gradient(left, rgba(255, 255, 255, 0.75) 0%, rgba(250, 250, 250, 0) 50%, rgba(255, 255, 255, 0.75) 100%);
	background-image: -o-linear-gradient(left, rgba(255, 255, 255, 0.75) 0%, rgba(250, 250, 250, 0) 50%, rgba(255, 255, 255, 0.75) 100%);
	background-image: -ms-linear-gradient(left, rgba(255, 255, 255, 0.75) 0%, rgba(250, 250, 250, 0) 50%, rgba(255, 255, 255, 0.75) 100%);
	background-image: linear-gradient(left, rgba(255, 255, 255, 0.75) 0%, rgba(250, 250, 250, 0) 50%, rgba(255, 255, 255, 0.75) 100%);
}

@media (max-width: 991px) {
	#solution .snippets .divider {
		margin: 55px 0 35px;
	}
}

@media (max-width: 991px) {
	#solution .snippets {
		margin-top: 15px;
	}
}

#solution .snippets .feature {
	margin-bottom: 130px;
}

@media (max-width: 991px) {
	#solution .snippets .feature {
		margin-bottom: 50px;
	}
}

#solution .snippets .feature.last .image img {
	margin-left: 70px;
}
/* Case Studies Styles */

#cases #hero {
	margin-top: 100px;
}

@media (min-width: 992px) {
	#cases #hero .row {
		border-bottom: 1px solid #E6E6E8;
	}
}

@media (max-width: 991px) {
	#cases #hero .image img {
		margin: 0 auto;
	}
}

@media (min-width: 992px) {
	#cases #hero .info {
		padding-left: 60px;
	}
}

@media (max-width: 991px) {
	#cases #hero .info {
		text-align: center;
	}
}

#cases #hero .info h3 {
	font-family: Myriad Pro, Lato, Helvetica Neue, Arial;
	font-weight: 500;
	margin-top: 70px;
	font-size: 28px;
}

#cases #hero .info p {
	color: #666;
	margin-top: 10px;
	margin-bottom: 70px;
}

@media (min-width: 992px) {
	#cases #hero .info p {
		width: 85%;
	}
}

@media (max-width: 991px) {
	#cases .actual-cases {
		margin-top: 50px;
	}
}

#cases .actual-cases .header {
	border-top: 1px solid #E6E6E8;
	padding-top: 55px;
	margin-bottom: 35px;
}

#cases .actual-cases .header h3 {
	font-size: 27px;
	font-family: Myriad Pro, Lato, Helvetica Neue, Arial;
	color: #444;
	line-height: 25px;
	font-weight: 500;
	margin-bottom: 20px;
}

@media (max-width: 991px) {
	#cases .actual-cases .header h3 {
		text-align: center;
	}
}

#cases .actual-cases .header .panel {
	margin-top: 20px;
}

#cases .actual-cases .header p {
	font-size: 15px;
	font-weight: 400;
	color: #666;
	line-height: 24px;
	margin-top: 15px;
}

@media (max-width: 991px) {
	#cases .actual-cases .header p {
		margin: 0 auto;
		width: 90%;
		text-align: center;
	}
}

#cases .actual-cases .header li {
	font-size: 15px;
	font-weight: 400;
	color: #666;
	line-height: 24px;
}

#cases .actual-cases .features {
	margin-bottom: 20px;
}

@media (max-width: 991px) {
	#cases .actual-cases .features .feature {
		text-align: center;
		margin-bottom: 30px;
	}
}

#cases .actual-cases .features .feature img {
	max-width: 40px;
	position: relative;
	top: 10px;
}

@media (min-width: 992px) {
	#cases .actual-cases .features .feature img {
		float: left;
	}
}

@media (min-width: 992px) {
	#cases .actual-cases .features .feature .info {
		float: left;
		width: 80%;
		margin-left: 20px;
	}
}

#cases .actual-cases .features .feature .info strong {
	display: block;
	font-weight: 500;
	font-size: 16px;
	color: #444;
	margin-top: 15px;
}

#cases .actual-cases .features .feature .info p {
	font-weight: normal;
	font-size: 14px;
	color: #797979;
	margin-top: 10px;
	line-height: 24px;
}