html {
	font-family: sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

.lead-section {
	height: 500px;
	padding-top: 175px;
	color: white;
	background: gray;
}

.feature-section {
	height: 400px;
}

.customer-bar {
	background: #F9FAFA;
}

.case-study {
	padding-bottom: 100px;
}

.news-section {
	background: #F9FAFA;
}

.footer {
	color: grey;
	height: 60px;
	background: #F9FAFA;
}

.teamphotos {
	margin-top: 10px;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}

.customer-logo img {
	max-width: 100%;
	max-height: 50px;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	align-content: center;
}

.tagup-logo {
	height: 43px;
}