/* Global Rules */

@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);
html {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-smoothing: antialiased;
}

.container {
	max-width: 970px;
}

.padding-top {
	padding-top: 100px;
}

.padding-bottom {
	padding-bottom: 70px;
}

.navbar {
	margin-bottom: -20px;
}

.navbar .dropdown-menu {
	background: rgba(0, 0, 0, 0.8);
	box-shadow: none;
	padding: 5px 0 8px 0;
	border-radius: 4px 0 4px 4px;
	border: 0px;
}

.navbar .dropdown-menu li a {
	color: #fff;
	padding: 10px 18px;
	font-size: 15px;
	display: block;
	clear: both;
	font-weight: 400;
	line-height: 1.42857143;
	white-space: nowrap;
}

.navbar .dropdown-menu li a:hover {
	color: #e9e9e9;
	background: none;
}

.hiring {
	font-family: "Lato", "Helvetica Neue", Arial;
    font-weight: 700;
    letter-spacing: .3px;
    text-transform: uppercase;
    word-spacing: 1.5px;
    font-size: 11px;
    margin-left: 4px;
    padding: 3px 8px;
    border-radius: 4px;
    color: #fff;
    background: #ff4f00;
}
.hiring:hover {
	background:#e54700;
}

h1,
h3,
h4,
h5,
h6 {
	font-family: Helvetica Neue, Arial;
	color: #444;
	font-weight: 300;
}

h2 {
	color: Black;
	font-weight: 300;
	font-size: 28px;
}

p {
	color: #666;
	line-height: 23px;
	margin-bottom: 15px;
}

.button-demo {
	-webkit-font-smoothing: antialiased;
	display: inline-block;
	vertical-align: middle;
	zoom: 1;
	color: #fff;
	padding: 12px 31px;
	border: 2px solid #fff;
	border-radius: 4px;
	font-size: 16px;
	font-weight: 400;
	background: rgba(0, 0, 0, 0.15);
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

.button-demo:hover {
	text-decoration: none;
	color: #ff4f00;
	border-color: #ff4f00;
}

.small-heading {
	letter-spacing: .15em;
	color: #bec8ce;
	text-transform: uppercase;
	font-weight: 500;
	line-height: 1.2;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}

.text-justify {
	text-align: justify;
}

.text-nowrap {
	white-space: nowrap;
}

.text-lowercase {
	text-transform: lowercase;
}

.text-uppercase {
	text-transform: uppercase;
}

.text-capitalize {
	text-transform: capitalize;
}

.text-muted {
	color: #aaaaaa;
}

.btn-custom {
	background-color: #FF4F00;
	color: white;
	font-weight: 700;
}

.btn-custom:hover {
	background-color: #e54700;
	color: white;
}

.navbar.normal {
	min-height: 70px;
	background: #223741;
	border-radius: 0px;
	box-shadow: 0px 1px 3px 1px rgba(46, 46, 46, 0.3), inset rgba(255, 255, 255, 0.2) 0 1px 1px;
	border: none;
	z-index: 9999;
	-webkit-font-smoothing: antialiased;
}

.navbar.normal .navbar-header .navbar-brand {
	color: #fff;
	padding: 25px 15px;
	font-weight: 500;
	font-size: 23px;
}

.navbar.normal .navbar-header .navbar-toggle {
	margin-top: 17px;
}

@media (min-width: 768px) {
	.navbar.normal .navbar-collapse {
		text-align: center;
	}
}

@media (min-width: 768px) {
	.navbar.normal .navbar-collapse .navbar-nav {
		float: none;
		display: inline-block;
	}
}

@media (min-width: 768px) {
	.navbar-fixed-bottom {
		margin-top: 300px;
	}
}

.navbar.normal .navbar-collapse .navbar-nav > li {
	float: none;
	display: inline-block;
}

@media (max-width: 767px) {
	.navbar.normal .navbar-collapse .navbar-nav > li {
		display: block;
	}
}

.navbar.normal .navbar-collapse .navbar-nav > li.active > a {
	background: none;
	color: #fff;
}

.navbar.normal .navbar-collapse .navbar-nav > li > a {
	padding: 25px 20px;
	color: #d5d5d5;
	font-weight: 500;
	z-index: 1001;
}

.navbar.normal .navbar-collapse .navbar-nav > li > a:hover {
	color: white;
}

@media (min-width: 768px) {
	.footer {
	color: #d5d5d5;
	box-shadow: 0px 1px 3px 1px rgba(46, 46, 46, 0.3), inset rgba(255, 255, 255, 0.2) 0 1px 1px;
	height: 60px;
	background: #223741;
	padding-top: 20px;
	text-decoration: none;
	font-size: 13px;
}
}
@media (max-width: 767px) {
	.footer{
		color: #d5d5d5;
	box-shadow: 0px 1px 3px 1px rgba(46, 46, 46, 0.3), inset rgba(255, 255, 255, 0.2) 0 1px 1px;
	height: 60px;
		padding: 20px 0 70px 0;
	background: #223741;
	text-decoration: none;
	font-size: 13px;
	}
}



.footer a {
	color: #d5d5d5;
}


/* Home Page */


/* leadsection */

.lead-section {
	padding: 100px 0 100px 0;
	background: url(../img/industrybackground.jpg) no-repeat center center;
	background-position: center 25%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position: relative;
}

.lead-section:before {
	position: absolute;
	content: '';
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: -webkit-linear-gradient(right, rgba(255, 255, 255, 0) 0%, transparent 1%, rgba(0, 0, 0, 0.1) 26%, rgba(0, 0, 0, 0.35) 71%, rgba(0, 0, 0, 0.5) 100%);
	background: -moz-linear-gradient(right, rgba(255, 255, 255, 0) 0%, transparent 1%, rgba(0, 0, 0, 0.1) 26%, rgba(0, 0, 0, 0.35) 71%, rgba(0, 0, 0, 0.5) 100%);
	background: -o-linear-gradient(right, rgba(255, 255, 255, 0) 0%, transparent 1%, rgba(0, 0, 0, 0.1) 26%, rgba(0, 0, 0, 0.35) 71%, rgba(0, 0, 0, 0.5) 100%);
	background: linear-gradient(right, rgba(255, 255, 255, 0) 0%, transparent 1%, rgba(0, 0, 0, 0.1) 26%, rgba(0, 0, 0, 0.35) 71%, rgba(0, 0, 0, 0.5) 100%);
}

.lead-section:after {
	position: absolute;
	content: '';
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(32, 54, 114, 0.29);
}

.lead-section .container {
	position: relative;
	z-index: 33;
}

.lead-section h1.hero-text {
	-webkit-font-smoothing: subpixel-antialiased;
	font-family: "Lato", "Helvetica Neue", Arial;
	line-height: 52px;
	text-align: left;
	font-size: 37px;
	text-transform: uppercase;
	font-weight: 300;
	letter-spacing: .3px;
	color: #FFF;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
	-webkit-animation-duration: 1s;
}

@media (max-width: 767px) {
	.lead-section h1.hero-text {
		font-size: 25px;
		line-height: 38px;
		margin-top: 0;
		text-align: center;
	}
}

.lead-section .sub-text {
	-webkit-font-smoothing: antialiased;
	width: 50%;
	margin-top: 25px;
	font-family: "Lato", "Helvetica Neue", Arial;
	color: #fff;
	font-weight: 400;
	font-size: 18px;
	line-height: 28px;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
	-webkit-animation-duration: 1s;
}

@media (max-width: 991px) {
	.lead-section .sub-text {
		width: 70%;
	}
}

@media (max-width: 767px) {
	.lead-section .sub-text {
		font-size: 15px;
		width: 100%;
		text-align: center;
	}
}

.lead-section .cta {
	-webkit-animation-delay: 0.6s;
	-moz-animation-delay: 0.6s;
	-o-animation-delay: 0.6s;
	-ms-animation-delay: 0.6s;
	animation-delay: 0.6s;
	margin-top: 60px;
}

@media (max-width: 767px) {
	.lead-section .cta {
		text-align: center;
	}
}

.lead-section .cta a {
	margin-right: 20px;
	padding: 15px 31px;
}

@media (max-width: 767px) {
	.lead-section .cta a {
		font-size: 14px;
		padding: 12px 25px;
		margin: 0px 15px 15px 0px;
	}
}

@media (max-width: 991px) {
	.lead-section .img {
		display: none;
	}
}

.feature-section {
	padding: 100px 0 100px 0;
}

.feature-section h4 {
	text-align: center;
	display: block;
	font-weight: 400;
	font-size: 17px;
	color: #383a35;
	margin-top: 15px;
}

.feature-section .header-description {
	font-weight: 300;
	font-size: 17px;
	color: #757575;
	padding-bottom: 50px;
}

.feature-section img {
	max-height: 180px;
	margin-bottom: 20px;
	display: block;
	margin: auto;
}

.feature-section h3 {
	margin-top: 0;
}

.feature-headline {
	margin-bottom: 40px;
}

.solution {
	padding-top: 30px;
}

.request-demo-link {
	padding-bottom: 50px;
}

.customer-section {
	background: #f8fcfe;
	padding: 20px;
	box-shadow: 0px 2px 2px #e1e2e1;
}

.case-section {
	padding: 0px 0 100px 0;
}

.case-description {
	padding-top: 60px;
}

.case-description h2 {
	margin-top: 0;
}

.news-section {
	padding: 50px 0 50px 0;
}

.news-section h5 {
	font-size: 15px;
}

.news-section p {
	color: #888;
}

.contact-section {
	padding: 100px 0 100px 0;
}

.contact-img {
	padding-top: 60px;
}

.customer-logo {
	text-align: center;
	display: inline-block;
	padding-left: 0;
}

.customer-logo img {
	display: inline-block;
	max-width: 100%;
	max-height: 45px;
	vertical-align: middle;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	padding: 0 17px 0 17px;
	margin-bottom: 15px;
}

.customer-logo li {
	display: inline-block;
	margin-right: -.25em;
	position: relative;
	top: 1.25em;
}

.contact-image {
	padding: 50px 20px 50px 20px;
}

.contact-header {
	padding: 20px 0 10px 0;
}

.contact-locations {
	margin-top: 60px;
	padding: 20px 0 10px 0;
}

.tagup-logo {
	height: 33px;
	margin-top: -6px
}

.news-section {
	background: #F9FAFA;
}


/* Team Page Styles */

.team-intro {
	padding: 100px 0 0 0;
}

.intro-header {
	font-size: 24px;
	color: #444;
	line-height: 25px;
	margin-bottom: 25px;
}

.teamphotos {
	margin-top: 10px;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}

.executiveadvisory-team {
	padding: 50px 0 15px 0;
}


/* Solution Page Styles */

.solution-intro {
	padding: 50px 0 0 0;
}

#solution #tabs .header {
	text-align: center;
}

#solution #tabs .header h3 {
	font-size: 22px;
	color: #444;
	line-height: 25px;
	font-weight: 500;
	margin-bottom: 7px;
}

#solution #tabs .header p {
	font-size: 16px;
	font-weight: 400;
	color: #888;
}

#solution #tabs .tabs-wrapper {
	margin-top: 45px;
}

#solution #tabs .tabs-wrapper .nav-tabs {
	text-align: center;
	border-bottom: 2px solid #EDEDED;
}

.whatwedoimg {
	max-width: 40%;
}

@media (max-width: 991px) {
	#solution #tabs .tabs-wrapper .nav-tabs {
		display: none;
	}
}

#solution #tabs .tabs-wrapper .nav-tabs li {
	float: none;
	display: inline-block;
}

#solution #tabs .tabs-wrapper .nav-tabs li.active a {
	color: #ff4f00;
	font-weight: 400;
	border-bottom: 0px;
}

#solution #tabs .tabs-wrapper .nav-tabs li.active a:after {
	content: '';
	position: absolute;
	width: 100%;
	height: auto;
	border-bottom: 2px solid #ff4f00;
	left: 1px;
	bottom: -1px;
}

#solution #tabs .tabs-wrapper .nav-tabs li a {
	color: #888;
	font-weight: 400;
	border: 0px;
	padding: 10px 20px;
	font-size: 15px;
	-webkit-transition: color 0.25s linear;
	-moz-transition: color 0.25s linear;
	-ms-transition: color 0.25s linear;
	-o-transition: color 0.25s linear;
	transition: color 0.25s linear;
}

#solution #tabs .tabs-wrapper .nav-tabs li a:hover {
	color: #ff4f00;
	background: none;
}

#solution #tabs .tabs-wrapper .tab-content {
	margin-top: 60px;
}

#solution #tabs .tabs-wrapper .tab-content .tab-pane {
	height: 325px;
}

@media (max-width: 991px) {
	#solution #tabs .tabs-wrapper .tab-content .tab-pane {
		display: block !important;
		opacity: 1;
		filter: alpha(opacity=100);
		height: auto;
		text-align: center;
		margin-bottom: 70px;
	}
}

@media (max-width: 991px) {
	#solution #tabs .tabs-wrapper .tab-content .tab-pane .info {
		margin-bottom: 35px;
	}
}

#solution #tabs .tabs-wrapper .tab-content .tab-pane .info h4 {
	font-weight: 500px;
	font-size: 19px;
	line-height: 25px;
	margin-top: 35px;
}

#solution #tabs .tabs-wrapper .tab-content .tab-pane .info p {
	color: #6C7279;
	font-size: 15px;
	margin-top: 20px;
	line-height: 24px;
	width: 83%;
	font-weight: normal;
}

@media (max-width: 991px) {
	#solution #tabs .tabs-wrapper .tab-content .tab-pane .info p {
		margin: 0 auto;
		width: 95%;
	}
}

#solution #tabs .tabs-wrapper .tab-content .tab-pane .image img {
	display: inline-block;
	margin: 0 auto;
}

#solution .snippets {
	/* mixin found in partials/snippets */
	margin-top: 100px;
	padding-top: 100px;
	background: #F9FAFA;
}

@media (max-width: 991px) {
	#solution .snippets {
		margin-top: 50px;
	}
}

#solution .snippets .header {
	text-align: center;
}

#solution .snippets .header h2 {
	color: #555;
	font-weight: 300;
	font-size: 28px;
}

@media (max-width: 767px) {
	#solution .snippets .header h2 {
		font-size: 25px;
	}
}

#solution .snippets .header p {
	font-weight: 300;
	font-size: 17px;
	color: #757575;
}

#solution .snippets .feature {
	margin-top: 55px;
}

#solution .snippets .feature img {
	max-height: 250px;
	display: block;
	margin: auto;
}

@media (min-width: 992px) {
	#solution .snippets .feature.backwards .info {
		float: right;
	}
	#solution .snippets .feature.backwards .image {
		float: left;
	}
	#solution .snippets .feature.backwards .image img {
		display: block;
		margin: auto;
	}
}

@media (max-width: 991px) {
	#solution .snippets .feature {
		margin-top: 10px;
	}
}

#solution .snippets .feature .info h4 {
	color: #6C7279;
	font-weight: 500;
	font-size: 19px;
	line-height: 25px;
	margin-top: 35px;
}

@media (max-width: 991px) {
	#solution .snippets .feature .info h4 {
		text-align: center;
	}
}

#solution .snippets .feature .info p {
	color: #6C7279;
	font-size: 14px;
	margin-top: 20px;
	line-height: 24px;
	width: 83%;
	font-weight: normal;
}

@media (max-width: 991px) {
	#solution .snippets .feature .info p {
		text-align: center;
		width: 100%;
		font-size: 14px;
	}
}

@media (max-width: 991px) {
	#solution .snippets .feature .image img {
		margin: 0 auto !important;
		margin-top: 20px;
	}
}

#solution .snippets .divider {
	height: 1px;
	width: 100%;
	background-color: #ddd;
	position: relative;
	margin: 70px 0 60px;
}

#solution .snippets .divider:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 2px;
	background-image: -webkit-gradient(linear, left top, right top, color-stop(0, rgba(255, 255, 255, 0.75)), color-stop(0.5, rgba(250, 250, 250, 0)), color-stop(1, rgba(255, 255, 255, 0.75)));
	background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.75) 0%, rgba(250, 250, 250, 0) 50%, rgba(255, 255, 255, 0.75) 100%);
	background-image: -moz-linear-gradient(left, rgba(255, 255, 255, 0.75) 0%, rgba(250, 250, 250, 0) 50%, rgba(255, 255, 255, 0.75) 100%);
	background-image: -o-linear-gradient(left, rgba(255, 255, 255, 0.75) 0%, rgba(250, 250, 250, 0) 50%, rgba(255, 255, 255, 0.75) 100%);
	background-image: -ms-linear-gradient(left, rgba(255, 255, 255, 0.75) 0%, rgba(250, 250, 250, 0) 50%, rgba(255, 255, 255, 0.75) 100%);
	background-image: linear-gradient(left, rgba(255, 255, 255, 0.75) 0%, rgba(250, 250, 250, 0) 50%, rgba(255, 255, 255, 0.75) 100%);
}

@media (max-width: 991px) {
	#solution .snippets .divider {
		margin: 55px 0 35px;
	}
}

@media (max-width: 991px) {
	#solution .snippets {
		margin-top: 15px;
	}
}

#solution .snippets .feature {
	margin-bottom: 130px;
}

@media (max-width: 991px) {
	#solution .snippets .feature {
		margin-bottom: 50px;
	}
}

#solution .snippets .feature.last .image img {
	margin-left: 70px;
}


/* Case Studies Styles */

.case-heading {
	padding: 100px 0 100px 0;
	background: url(../img/case.jpg) no-repeat center center;
	background-position: center 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position: relative;
	color: white;
	text-align: center;
	box-shadow: 0px 1px 3px 1px rgba(46, 46, 46, 0.3), inset rgba(255, 255, 255, 0.2) 0 1px 1px;
}

.case-heading h1 {
	color: white;
	text-align: center;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.sub-text {
	font-family: "Helvetica Neue", Arial;
	color: #fff;
	font-weight: 400;
	font-size: 18px;
	line-height: 28px;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.case-heading .container {
	position: relative;
	z-index: 33;
}

.case-heading:before {
	position: absolute;
	content: '';
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: -webkit-linear-gradient(right, rgba(255, 255, 255, 0) 0%, transparent 1%, rgba(0, 0, 0, 0.1) 26%, rgba(0, 0, 0, 0.35) 71%, rgba(0, 0, 0, 0.5) 100%);
	background: -moz-linear-gradient(right, rgba(255, 255, 255, 0) 0%, transparent 1%, rgba(0, 0, 0, 0.1) 26%, rgba(0, 0, 0, 0.35) 71%, rgba(0, 0, 0, 0.5) 100%);
	background: -o-linear-gradient(right, rgba(255, 255, 255, 0) 0%, transparent 1%, rgba(0, 0, 0, 0.1) 26%, rgba(0, 0, 0, 0.35) 71%, rgba(0, 0, 0, 0.5) 100%);
	background: linear-gradient(right, rgba(255, 255, 255, 0) 0%, transparent 1%, rgba(0, 0, 0, 0.1) 26%, rgba(0, 0, 0, 0.35) 71%, rgba(0, 0, 0, 0.5) 100%);
}

.case-heading:after {
	position: absolute;
	content: '';
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(32, 54, 114, 0.29);
}

.lead-section .container {
	position: relative;
	z-index: 33;
}

.case-image {
	max-height: 370px;
}

@media (max-width: 991px) {
	.case-header {
		text-align: center;
		padding: 50px 50px 20px 50px;
	}
}

.stats {
	padding: 20px;
}

.actual-cases {
	padding-bottom: 100px;
}

.actual-cases h4 {
	padding-top: 30px;
}

.actual-cases .header {
	padding-top: 55px;
}

.testimonial {
	padding: 0 20px 0 20px;
}

.testimonial i {
	margin-top: 40px;
	color: #FF4F00;
}

.actual-cases .header .testimonial p {
	font-weight: 600;
	color: #666;
}

.actual-cases .header .testimonial .customer-name {
	color: gray;
	font-weight: 400;
	margin-bottom: 0;
}

.actual-cases .header .testimonial .customer-title {
	color: #bec8ce;
	font-size: 12px;
	font-weight: 400;
	margin-top: -4px;
}

@media (max-width: 991px) {
	.actual-cases .header h3 {
		text-align: center;
	}
}

.actual-cases .header p {
	font-size: 15px;
	font-weight: 400;
	color: #666;
	line-height: 24px;
	margin-top: 15px;
}

.actual-cases .header li {
	font-size: 15px;
	font-weight: 400;
	color: #666;
	line-height: 24px;
}

.actual-cases .features {
	margin-bottom: 20px;
}

@media (max-width: 991px) {
	#cases .actual-cases .features .feature {
		text-align: center;
		margin-bottom: 30px;
	}
}

.actual-cases .features .feature img {
	max-width: 40px;
	position: relative;
	top: 10px;
}

@media (min-width: 992px) {
	.actual-cases .features .feature img {
		float: left;
	}
}

@media (min-width: 992px) {
	#cases .actual-cases .features .feature .info {
		float: left;
		width: 80%;
		margin-left: 20px;
	}
}

.statcard-number {
	margin-top: 0;
	margin-bottom: 0;
}

.statcard-desc {
	font-size: 85%;
	letter-spacing: .15em;
	color: #888888;
	text-transform: uppercase;
	margin-right: 30px;
}


/* terms */

#postings ol {
	color: #666;
	line-height: 23px;
	margin-bottom: 15px;
}